@font-face {
	font-family: Inter;
	src: url("../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.header {
	display: flex;
	flex-direction: row;
	/* background-color: aqua; */
	margin: auto;
	justify-content: space-between;
	padding: 1rem 2rem;
	max-width: 1500px;
}

.head-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	font-size: 4rem;
	letter-spacing: 0rem;
	/* background-color: yellowgreen; */
	color: #2e8bff;
}

.head-end {
	font-family: Inter;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	padding: 0rem 2rem;
	margin: 1rem 1.5rem;

	color: #6f7378;
	font-size: 1rem;

	border: 1px solid #4f5053;
	border-radius: 300px;
	white-space: nowrap;
	/* background-color: thistle; */
	min-width: 350px;
}

.head-icon {
	font-size: 2rem;
	margin: 0.5rem 1rem;
	color: #6f7378;
}

@media only screen and (max-width: 768px) {

	.head-start {
		display: none;
	}

	.head-end {
		/* background-color:tomato; */
		width: 100%;
		min-width: 0px;
	}

}

