@font-face {
	font-family: Inter;
	src: url("../../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.navbar {
	font-family: Inter;

	display: flex;
	flex-direction: row;
	/* background-color: aqua; */
	margin: auto;
	justify-content: space-between;
	padding: 1rem 2rem;
	max-width: 1500px;
}

.nav-end {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	/* padding: 1rem 1.5rem; */
	/* gap: 4px; */

	/* position: absolute; */
	/* width: 200px; */
	/* height: 48px; */
	/* left: 1231px;
	top: 43px; */
	padding: 0.5rem 1rem;

	color: #ffffff;
	font-size: 1rem;
	background-color: #2e8bff;
	border-radius: 300px;
	cursor: pointer;
}

.nav-end span {
	color: #ffffff;
	font-size: 1rem;
	background-color: #2e8bff !important;
	border-radius: 300px;
	cursor: pointer;
}

.nav-end-icon {
	font-size: 1rem;
	/* margin: 0.5rem 1rem; */
	padding: 0.2rem 0.4rem;
	/* color: yellow; */
	background-color: #2e8bff;
	cursor: pointer;
}

.nav-middle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* position: absolute; */
	/* width: 394px; */
	/* height: 48px; */
	/* left: 559px; */
	/* top: 43px;  */
	padding: 0.3rem;

	background-color: #000000;
	border-radius: 300px;
}

.nav-middle ul {
	display: flex;
	flex-direction: row;
	list-style: none;

	margin: 0;
	padding: 0;

	background-color: black;
	border-radius: 300px;
}

.nav-middle ul li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* position: absolute; */
	/* width: 94px; */
	/* height: 40px; */
	/* left: 5px; */
	/* top: 4px; */
	padding: 0.7rem 1.5rem;
	font-weight: 100;
	background-color: black;
	color: #b7bec7;
	border-radius: 300px;
	cursor: pointer;
}

.active {
	background-color: #323337 !important;
}

.nav-start {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	/* background-color: pink; */
}

.nav-start-icon {
	font-size: 1.5rem;
	margin: 0.5rem 1rem;
	color: #6f7378;
	cursor: pointer;
}

.displayMobile {
	display: none;
}

@media only screen and (max-width: 1200px) {
	.nav-end span {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.nav-start,
	.nav-middle {
		display: none;
	}
	.displayMobile {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		/* padding: 1rem 0rem; */

		/* border-bottom: 1px solid darkblue; */
		text-decoration: underline;
		font-size: 1.5rem;
		/* background-color: burlywood; */
		color: #b7bec7;
	}

	.dropbtn {
		color: #B7BEC7;
		font-size: 1.5rem;
		border: none;
		cursor: pointer;
	}

	.dropbtn span{
		border-bottom: 2px solid #B7BEC7;
		padding: 0.1rem;
	}

	.dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: transparent;
		min-width: 25vw;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.dropdown-content a {
		color: #B7BEC7;
		padding: 1rem 2rem;
		text-decoration: none;
		display: block;
		font-size: 1rem;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.nav-icon {
		font-size: 1.5rem;
		margin: 0rem 0.5rem;
		color: #b7bec7;
		cursor: pointer;
	}
}
